{% extends "base.html" %}

{% block extra_styles %}
       <!--<link rel=stylesheet type=text/css-->
          <!--href="{{ url_for('static', filename='chat/sidebar.css') }}">-->
               <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='chat/sidebar_mine.css') }}">
{% endblock extra_styles %}

{% block extra_js%}
    <script type="text/javascript" src="{{ url_for('static', filename='backbone/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='backbone/backbone.js') }} "></script>
    <script async="" type="text/javascript" src="{{ url_for('static', filename='chat/cookie.js') }} "></script>
    <script async="" type="text/javascript" src="{{ url_for('static', filename='chat/manage.js') }} "></script>
{% endblock extra_js %}