 {% macro render_field(field, placeholder=None) %}
        {% set css_class = 'form-control' + kwargs.pop('class', '') %}
        <div class="form-group">
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
        </div>
{% endmacro %}

        <div class="col-md-2 sidebar">
           <ul class="nav nav-pills nav-stacked">  <!--sidebar-nav-->
                <li>
                    <a href=" {{ url_for('chat.index') }} ">
                        Home
                    </a>
                </li>                <li>
                    <a href="..{{ url_for('auth.logout') }}">
                        Log out
                    </a>
                </li>
                <li>
                    <p> Channels </p>
                </li>

                <li>
                    {% for channel in channels %}
                    <p><a href="channels/{{ channel }}">#{{ channel }}</a></p>
                    {% endfor %}
                </li>

            </ul>
                <form method="POST" action="channels/create" accept-charset="UTF-8" role="form">
                   {{ form.csrf_token }}
                   {{ render_field(form.name, placeholder="Channel name") }}
                    <button  class="btn btn-primary" type="submit" name="submit">Create new</button>
                </form>
        </div>