 {% macro render_field(field, placeholder=None) %}
        {% set css_class = 'form-control' + kwargs.pop('class', '') %}
        <div class="form-group">
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
        </div>
{% endmacro %}

        <div class="col-md-2 sidebar">
                <div class="text-header">
                   You are  <a href=" {{ url_for('chat.index') }} ">
                                <strong id="username">  </strong> </a>

                      <a href=" {{ url_for('auth.logout') }} ">
                            <button>
                                <span class="glyphicon glyphicon-log-out"></span>
                            </button>
                      </a>
                </div>
                    <p class="text-header"> Channels </p>


                <ul class="nav nav-pills nav-stacked">

                <li>
                    {% for channel in channels %}
                    <p><a href="channels/{{ channel }}">#{{ channel }}</a></p>
                    {% endfor %}
                </li>

            </ul>
                <form method="POST" action="channels/create" accept-charset="UTF-8" role="form">
                   {{ form.csrf_token }}
                   {{ render_field(form.name, placeholder="Channel name") }}
                    <button  class="btn btn-primary" type="submit" name="submit">Create new</button>
                </form>
        </div>